/* making webpage responsive */

@media (min-width: 2000px){
    html{
        font-size: 25px;
    }
}
@media (min-width: 1440px){
    html{
        font-size: 15px;
    }
}



@media (max-width: 1440px){
    html{
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    
    html{
        font-size: 14.5px;
    }

    /* hero section */

    #hero-section{
        min-height: auto;
        padding: 10rem 10vw;
    }

    .hero-content{
        width: 50%;
    }

    .hero-image-container{
        transform: scale(0.85) translateX(2rem);
    }

    .hero-img:nth-child(1) {
        width: 18rem;
        left: -5%;
        top: -5%;
    }

    .hero-img:nth-child(2) {
        width: 15rem;
        right: -9%;
        top: 17%;
    }

    .hero-img:nth-child(3) {
        width: 12rem;
        left: 55%;
        bottom: -20%;
    }
    
    /* section */

    section{
        padding: 3rem 10vw;
    }

    /* restaurants section */

    .food-img-container{
        transform: scale(0.75) translateX(-6rem);
    }
  
}

@media (max-width: 998px) {
    html {
        font-size: 13.5px;
    }

    /* section */
    
    section, footer{
        padding: 3rem 7vw;
    }

    /* navbar */
    .navbar{
        padding: 0 7vw;
    }

    /* hero section */
    
    #hero-section{
        min-height: auto;
        padding: 5rem 7vw
    }

    .hero-image-container {
        transform: scale(0.75) translateX(2rem);
    }

    .hero-heading{
        font-size: 3.5rem;
    }

    .hero-line{
        margin-top: 0.5rem;
    }

    .hero-action-btn-container {
        gap: 1rem;
    }

    #hero-section  {
        font-size: 1.3rem;
        line-height: 2.3rem;
    }

    /* order section */

    .food-image-container {
        transform: scale(0.8) translateX(-10%);
    }

    .food-img:nth-child(2) {
        width: 10rem;
        left: 95%;
        top: 20%;
    }

    .food-img:nth-child(3) {
        width: 8rem;
        left: 99%;
    }

    .food-img:nth-child(4) {
        width: 6rem;
        left: 75%;
    }

    .food-img:nth-child(5) {
        width: 5rem;
        left: 35%;
        top: 97%;
    }

    .food-img:nth-child(6) {
        left: 8%;
        top: 77%;
    }

    
    /* discount */

    .discount-banner{    
        margin: 0 5vw 5rem;
    }

    /* footer */

    #footer{
        padding: 5vw;
        padding-bottom: 5rem;
        flex-direction: column;
        gap: 2.5rem;
    }

    .footer-links-container{
        margin-left: 0;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .footer-links-title{
        display: block;
        min-width: 100%;
        margin-bottom: 0;
    }

    .footer-links-container.contact{
        width: 100%;
    }

    .company-info .logo{
        margin-bottom: 2rem;
    }

    .download-btn-group{
        margin-top: 2rem;
    }

}

@media (max-width: 820px) {

    /* navbar */

     .nav-toggler{
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        cursor: pointer;
        transition: .5s;
        transition-timing-function: cubic-bezier(0.36, -0.21, 0.16, 1.97);
    }

    .nav-toggler span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: .1rem;
        border-radius: 1rem;
        background: var(--secondary-color);
        transition: .5s;
        transition-timing-function: cubic-bezier(0.36, -0.21, 0.16, 1.97);
    }

    .nav-toggler span:nth-child(1){
        top: 30%;
    }

    .nav-toggler span:nth-child(3){
        top: 70%;
    }

    .nav-toggler.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .nav-toggler.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .nav-toggler.active span:nth-child(2){
        width: 0;
    }

    .links-container{
        display: block;
        left: 0;
        top: 100%;
        width: 100%;
        margin-left: 0;
        position: absolute;
        background: var(--accent-color);
        transition: .5s; 
        z-index: -1;
        height: 0;
        overflow: hidden;
    }

    .links-container.active{
        height: 15rem;
    }

    .links-container .link-items{
        text-align: right;
    }

    .links-container .links{
        display: block;
        padding: 1.2rem 10vw;
    }

    .links-container .links:hover{
        background: var(--primary-color);
        color: var(--secondary-text-color);
    }
    
    /* hero section */

    #hero-section {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .hero-content{
        width: 80%;
        min-width: 350px;
    }

  
    /* restaurants */

    .food-image-container {
        transform: scale(0.8) translateX(-5%);
    }

    .section{
        flex-direction: column;
        gap: 4rem;
    }

    .section-detail{
        width: 90%;
        margin: auto;
    }

    /* leaf */

    .leaf-layer.left{
        display: none;
    }

    .leaf-layer.right{
        right: -10%;
    }


    /* discount banner */

    .discount-banner .section-detail{
        margin: 0;
        width: 100%;
    }

    .dish-slider{
        display: none;
    }
    
}

@media (max-width: 500px) {

    /* hero section */

    .hero-image-container{
        transform: scale(0.7) translateX(0);
    }

    #hero-section {
        width: 37rem;
        /* left: ; */
    }

    /*  section */

    .food-image-container{
        transform: scale(0.7) translateX(-5%);
    }

     .service-container{
        grid-template-columns: 1fr;
    }

}

/* animation */


.about-us-review-container.aos-animate .review-wrapper{
    animation: zoom-in-up .5s var(--aos-delay) forwards 1;
}

@keyframes zoom-in-up{
    from {
        transform: translateX(1rem) scale(0);
    }
    to{
        transform: translateX(0) scale(1);
    }
}


.circle.pulse-animate{
    animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
}

