body {
    background:#EAF2F5 !important;
    margin-top: 20px;
}

.account{
    color: #007676;
    text-decoration-color:rgba(0, 118, 118, 0.4) !important ;
}
.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-primary {
    background-color: #007676 !important;
    border-color: #007676 !important;
}

.btn-default {
    border-color: rgba(0, 118, 118, 0.4);
    background  : rgba(0, 0, 0, 0);
    color       : #007676;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #007676 !important;
    color: #fff !important;
    background-color: #007676 !important;
    border-color: #007676 !important;
}



.btn {
    cursor: pointer;
    color: #fff;
}


.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #007676;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(0, 118, 118, 0.4);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(0, 118, 118, 0.4) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: rgba(0, 118, 118, 0.4) !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(0, 118, 118, 0.4) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: rgba(0, 118, 118, 0.4)!important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(0, 118, 118, 0.4) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: rgba(0, 118, 118, 0.4)!important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(0, 118, 118, 0.4) !important;
}